body {
  background-color: black;
  /*
  width: auto;
  height: 50px;
  */
  
  background: #ffff00;
  animation: mymove 20s infinite;
}

@keyframes mymove {
  50% {background-color: #ffffff;}
  
}


